form{
    width: 50%;
    margin-top: 150px;
    /* border: 1px solid red; */
    font-size: 20px;
    margin: auto;
}
.login-h3{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;   
}
.login-p{
    margin: 1%;
    font-size: 30PX;
    font-weight: bold;
    color: #56606e;
}
.button{
    text-decoration: underline;
    background: none;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
#login{
    text-decoration: none;
    background-color: black;
    text-align: center;
    color: white;
    width: 50%;
    height: 50px;  
    margin: 1%;
    
}
input{
    width: 98%;
    border: 1px solid;
    margin: 1%;
    height: 50px;   
    font-weight: bolder;
}

.checkbox{
    width: 10%;
    display: inline-block;
    height: 20px;    
}